<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nft.infrastructure.dao.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="generator.domain.OrderInfo">
            <id property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="productImg" column="product_img" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productPrice" column="product_price" jdbcType="DECIMAL"/>
            <result property="seckillPrice" column="seckill_price" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="payDate" column="pay_date" jdbcType="TIME"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_no,product_id,product_img,
        product_name,product_price,seckill_price,
        status,pay_date
    </sql>
</mapper>
