logging:
  pattern:
    dateformat: MM-dd HH:mm:ss:SSS
  level:
    root: info
  config: classpath:log4j2.xml
server:
  port: 8081
  tomcat:
    threads:
#      最少线程数
      min-spare: 10
      #tomcat虚拟内存为2G，建议设置最大线程为500~600
      #tomcat虚拟内存为4G，建议设置最大线程为600~700
      #tomcat虚拟内存JVM 建议最大设置为4G
      #最大线程数
      max: 200
    max-connections: 8192
    #最大等待数
    accept-count: 100


test:
  name: "oknb"
mybatis:
  configuration:
    map-underscore-to-camel-case: true
mybatis-plus:
  configuration:
    log-impl: 'org.apache.ibatis.logging.stdout.StdOutImpl '

videoPath: c:\Users\3500079813\Pictures\Saved Pictures\
email:
  from: bws.66@qq.com
  pswd: doceuobsmrycchid

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: 123456
    url: jdbc:mysql://localhost:3306/nft?characterEncoding=utf-8&userSSL=false
    username: root
  profiles:
    include: infrastructure,trigger,common
  mail:
    host: smtp.qq.com
    username: bws.66@qq.com
    password: doceuobsmrycchid
    emailFrom: bws.66@qq.com
    properties :
      mail:
        smtp:
          ssl:
            enable: true

